{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '../lab5/style.css' %}" rel="stylesheet">
    <title>Form</title>
</head>
<body>
    <h1>Form</h1>
    <form action="{% url 'lab5:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit">
    </form>
    <a href="{% url 'lab5:main' %}">View List of name</a>
</body>
</html>